[submodule "mmsegmentation"]
	path = mmsegmentation
	url = https://github.com/KimDaeYu/mmsegmentation.git
[submodule "labelme"]
	path = labelme
	url = https://github.com/KimDaeYu/labelme.git
[submodule "mmclassification_bowel"]
	path = mmclassification_bowel
	url = https://github.com/bub3690/mmclassification_bowel
